################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Week 10 - geometric programming/Week9 - Plotter/Polar Cartesian Coordinates/Debug
/Week 10 - geometric programming/Week9 - Plotter
